head
  include bootstrap

div.topbar
  div.fill
    div.container
      a(href='#').brand #{title}
      ul.nav
        li.active
          a(href='#') Home
        li
          a(href='#',style='color:red;font-weight:bold;') More quizzes
        li
          a(href='#') About

div.container
  div.content
    div.page-header
      h1 #{title}
        small text
    div.row
      div.span16
        center
          h1 #{groups[0]} or #{groups[1]}?
        div.row
          div.span10
            img(id='main_img', code='#{code}', src='#{img}')
          div.span6(style='background:#ccc')
            div(style='margin:20px')
              h1 You Choose:
              p
                h5
                  a.btn.large(href='javascript:vote(0);') #{groups[0]}
                  &raquo; #{stats[0]} people think so
              p
                h5
                  a.btn.large(href='javascript:vote(1);') #{groups[1]}
                  &raquo; #{stats[1]} people think so

  footer
    p &copy; 2011
